.modal_carousel {
  height: 90vh;
  width: 90vw;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  grid-template-rows: auto 1fr;
}

.modal_carousel>button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}