.spark_images img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.masonry_grid > div {
  display: grid;
  align-items: flex-start;
  justify-content: stretch;
  gap: 10px;
}


@media (max-width:992px) {
  .spark_images img {
    max-width: 200px;
  }
}