.home {
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  min-height: 90vh;
}

.shape1_box img {
  width: 100%;
  height: 100%;
}

.shape_box {
  width: 120px;
}

.shape_box img {
  width: 100%;
  height: auto;
}

.text {
  color: var(--main);
  text-align: left;
}

.quote {
  line-height: 1.3;
}

.image_box,
.image_box img {
  width: 100%;
  height: auto;
  z-index: 2;
}

@media (1200px >=width >=992px) {
  .shape_box {
    width: 100px;
  }

  .quote {
    line-height: 1.2;
  }
}

@media (992px > width >= 0) {
  .home {
    position: relative;
    background-image: url("../../../public//images/team8.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
  }

  .home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .image_box {
    display: none !important;
  }

  .text {
    justify-content: center !important;
    text-align: center;
  }

  .text button {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  .quote {
    z-index: 10;
    color: var(--white);
    justify-content: center !important;
  }

  .shape_box {
    width: 80px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
}
