main {
  min-height: 100vh;
}

/*Start File Upload Package*/

.sc-aXZVg,
.guZdik {
  max-width: 100% !important;
  height: 100% !important;
  display: grid !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
}

.sc-aXZVg input,
.guZdik input {
  width: 100%;
  height: 100%;
}

.sc-aXZVg svg,
.guZdik svg {
  width: 50px !important;
  height: 50px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  position: relative !important;
}

.sc-aXZVg div,
.guZdik div {
  display: grid !important;
  justify-content: center !important;
}

.sc-aXZVg span,
.guZdik span {
  text-align: center !important;
  max-width: 100% !important;
}

.sc-aXZVg span:first-child,
.guZdik span:first-child {
  font-size: 18px !important;
}

.guZdik {
  min-width: 200px !important;
}

/*End File Upload Package*/
/*End Carousel Package*/

.carousel-root, .carousel-slider, .slider-wrapper, .slider-wrapper ul, .carousel-root .slide {
  height: 100%;
  max-height: 100% !important;
  max-width: 100% !important;
}

.carousel-root .slide div {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.carousel-root .slide img {
  width: 100% !important;
  height: auto !important;
}

.carousel-root .control-arrow {
  background-color: var(--main) !important;
}

/*End Carousel Package*/

/*Start Scrollbar*/

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px var(--main);
  background-color: var(--main);
}

/*Start Scrollbar*/



/*Start Error Page*/
.error_contain img {
  width: 500px;
  height: auto;
}


/*Handle Vercel*/
.css-1ontqvh.Spark_spark_options__yr3G8 {
  position: absolute !important;
}


/*End Error Page*/
@media (max-width: 1200px) {
  .css-bbskgl-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 16px;
  }

  .css-1k9ck60-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 15px;
  }

  .css-1o5m5w-MuiFormHelperText-root {
    font-size: 12px;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 12px !important;
    font-size: 18px;
  }

  .css-r3bn9b-MuiListItem-root, .css-r3bn9b-MuiListItem-root>div {
    padding: 8px !important;
  }
}

@media (max-width: 992px) {
  .css-bbskgl-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px;
  }

  .css-1k9ck60-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px;
  }

  .css-1o5m5w-MuiFormHelperText-root {
    font-size: 10px;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px !important;
    font-size: 16px;
  }

  .MembersBox_members_box_summary__AWMzS {
    padding: 8px !important;
  }

  .css-r3bn9b-MuiListItem-root, .css-r3bn9b-MuiListItem-root>div {
    padding: 6px !important;
  }
}

@media (max-width: 768px) {
  .css-bbskgl-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 12px;
  }

  .css-1k9ck60-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 10px;
  }

  .css-1o5m5w-MuiFormHelperText-root {
    font-size: 8px;
  }

  .css-g7wv60-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 2px;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8px !important;
    font-size: 14px;
  }

  .error_contain img {
    width: 100%;
  }

  .MembersBox_members_box_summary__AWMzS {
    padding: 5px !important;
  }

  .css-4fssdi-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px;
  }

  .css-13493l2-MuiInputBase-root-MuiInput-root {
    font-size: 12px;
    margin-top: 12px !important;
  }

  .css-r3bn9b-MuiListItem-root, .css-r3bn9b-MuiListItem-root>div {
    padding: 4px !important;
  }
}