.main_section{
    background-image: url("../../../public/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    position: relative;
}

.main_section_contain .quote{
    font-weight: 800;
    z-index: 10;
    color: var(--white);
}