form {
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
  height: fit-content;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow:
    rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.auth_form{
  top: auto !important;
  left: auto !important;
  transform: none !important;
  position: relative !important;
}

.border_none {
  border: none !important;
}

.edit_profile_box {
  max-height: 90vh;
  overflow: auto;
}


.team_form,
.profile_form {
  grid-template-columns: repeat(1, 1fr);
  width: 60vw;
  padding: 20px;
}

.spark_form {
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  left: auto;
  right: auto;
  transform: none;
  height: auto;
  width: 100%;
  box-shadow: none;
  border-radius: 0px;
  top: auto;
}

.team_form div div label {
  min-width: auto;
}

.form_contain {
  padding: 20px;
}

.form_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.add_new_team_title svg {
  font-size: 40px;
}

.forgot_password:hover {
  color: var(--main);
}

.smile_icon {
  font-size: 25px;
}

@media (max-width: 1200px) {
  form {
    width: 85vw;
    border-radius: 8px;
  }

  .team_form,
  .profile_form {
    width: 70vw;
    padding: 18px;
  }

  .form_contain {
    padding: 18px;
  }

  .add_new_team_title svg {
    font-size: 35px;
  }


  .smile_icon {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  form {
    width: 90vw;
    border-radius: 6px;
  }

  .team_form,
  .profile_form {
    width: 80vw;
    padding: 15px;
  }

  .form_contain {
    padding: 16px;
  }

  .add_new_team_title svg {
    font-size: 35px;
  }

  .smile_icon {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  form {
    width: 96vw;
    grid-template-columns: repeat(1, 1fr);
  }

  .team_form,
  .profile_form {
    width: 90vw;
    padding: 10px;
  }

  .form_contain {
    padding: 10px;
  }

  .add_new_team_title svg {
    font-size: 30px;
  }

  .smile_icon {
    font-size: 18px;
  }
}