.logo{
    border-radius: 6px !important;
}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (1200px >= width >= 992px) {
    .logo{
        border-radius: 5px;
    }
    
    .logo img{
        width: 38px;
        height: 38px;
    }
}

@media (992px > width >= 768px) {
    .logo{
        border-radius: 4px;
    }
    
    .logo img{
        width: 35px;
        height: 35px;
    }
}

@media (768px > width >= 640px) {
    .logo{
        border-radius: 3px;
    }
    
    .logo img{
        width: 32px;
        height: 32px;
    }
}

@media (640px > width >= 0px) {
    .logo{
        border-radius: 2px;
    }
    
    .logo img{
        width: 30px;
        height: 30px;
    }
}