.file {
  border: 2px solid var(--main);
  background-color: var(--main-alt);
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

@media (1200px >= width >= 992px) {
  .file {
    padding: 8px;
    border-radius: 3px;
  }
}

@media (992px > width >= 768px) {
  .file {
    padding: 6px;
    border-radius: 2px;
  }
}

@media (768px > width >= 0px) {
  .file {
    padding: 4px;
  }
}
