.room_head {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 200px;
}

.tabs {
  background-color: var(--white);
  position: relative;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.grid_layout {
  grid-template-columns: auto 1fr;
}

@media (1200px >= width >= 992px) {
  .room_head {
    height: 180px;
  }
}

@media (992px > width >= 768px) {
  .room_head {
    height: 160px;
  }
}

@media (768px > width >= 640px) {
  .room_head {
    height: 140px;
  }
  .grid_layout {
    grid-template-columns: 1fr;
  }
}

@media (640px > width >= 0px) {
  .room_head {
    height: 140px;
  }
  .grid_layout {
    grid-template-columns: 1fr;
  }
}
