.room {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.room_image_box {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.room_image_box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}

.room_data {
  padding: 20px;
}

.room_description {
  line-height: 25px;
}
