.room {
  border-radius: 6px;
  position: relative;
  z-index: 10;
  box-shadow: var(--box_shadow);
}

.room_image_box {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.room_image_box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}

.room_data {
  padding: 20px;
}

.room_description {
  line-height: 25px;
}

@media (max-width:1200px) {
  .room_data {
    padding: 16px;
  }

}

@media (max-width:992px) {
  .room_data {
    padding: 10px;
  }

}

@media (max-width:768px) {
  .room_data {
    padding: 8px;
  }

}